##############################
## Folders                  ##
##############################
common
多文件项目/websocket/node_modules
##############################
## Netbeans conf            ##
##############################